body {

    font-family: Arial, sans-serif;
    margin: 40px;

    background-color: #050816;
    color: white;

}


nav {

    text-align: center;
    margin: 20px;

}


nav a {

    color: #00ffff;
    text-decoration: none;

    margin: 15px;

    font-size: 18px;

}


nav a:hover {

    color: white;

}


header {

    text-align: center;

    padding: 40px;

    border: 1px solid #00ffff;

    border-radius: 15px;

    background-color: #0b1228;

}


header h1 {

    font-size: 42px;

    letter-spacing: 3px;

}


section {

    margin: 30px 0;

    padding: 25px;

    border: 1px solid #1e90ff;

    border-radius: 15px;

    background-color: #0b1020;

}


section:hover {

    border-color: #00ffff;

}


section h2 {

    color: #00ffff;

}


a {

    color: #00ffff;

}


footer {

    text-align: center;

    margin-top: 50px;

    padding: 20px;

    border-top: 1px solid #1e90ff;

}
