body {

    font-family: Arial, sans-serif;

    margin: 40px;

    background:
    radial-gradient(circle at top, #1b2735, #050816);

    color: white;

}

    


nav {

    text-align: center;
    margin: 20px;

}


nav a {

    color: #00ffff;
    text-decoration: none;

    margin: 15px;

    font-size: 18px;

}


nav a:hover {

    color: white;

}


header {

    text-align: center;

    padding: 40px;

    border: 1px solid #00ffff;

    border-radius: 15px;

    background-color: #0b1228;

}


header h1 {

    font-size: 42px;

    letter-spacing: 3px;

}


section {

    margin: 30px 0;

    padding: 25px;

    border: 1px solid #1e90ff;

    border-radius: 15px;

    background-color: #0b1020;

}


section:hover {

    border-color: #00ffff;

}


section h2 {

    color: #00ffff;

}


a {

    color: #00ffff;

}


footer {

    text-align: center;

    margin-top: 50px;

    padding: 20px;

    border-top: 1px solid #1e90ff;

}
.archive-card {

    background: rgba(10, 20, 40, 0.9);

    border: 2px solid #00ffff;

    border-radius: 20px;

    padding: 30px;

    margin: 30px 0;

    box-shadow:
    0 0 15px #00ffff;

    transition: 0.3s;

}


.archive-card:hover {

    transform: translateY(-5px);

    border-color: gold;

    box-shadow:
    0 0 25px gold;

}


.archive-card h2 {

    color: #00ffff;

    text-transform: uppercase;

    letter-spacing: 2px;

}


.archive-card a {

    display: inline-block;

    margin-top: 15px;

    padding: 10px 20px;

    border: 1px solid #00ffff;

    border-radius: 10px;

    color: white;

    text-decoration: none;

}


.archive-card a:hover {

    background-color: #00ffff;

    color: black;

}

header {

    text-align: center;

    padding: 30px;

    border-bottom: 2px solid #00ffff;

    box-shadow: 0 5px 20px #00ffff;

}


header h1 {

    color: gold;

    text-shadow:
    0 0 10px gold;

}

